### ROS2 ###
**/build/
**/install/
**/log/

# debug_file
**/log_files

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets